[submodule "sunflower"]
	path = tools/sunflower
	url = ../../physical-computation/sunflower-simulator.git
[submodule "verilog/hardware/processor/sail-core"]
	path = verilog/hardware/processor/sail-core
	url = ../../physical-computation/Sail-RV32I-common
